@tailwind base;
@tailwind components;
@tailwind utilities;

.slide{
  animation-name: slidein;
  animation-duration: 1s;
}

@keyframes slidein {
  from {
    margin-right: -1000px;
  }
  to{
    margin-right: 0;
  }
}